#!/bin/sh
# Brewfile hash: {{ include "Brewfile" | sha256sum }}

brew bundle --file {{ .chezmoi.sourceDir }}/Brewfile

{{ if not (env "ZSH") }}
echo "Installing oh-my-zsh..."
sh -c "$(curl -fsSL https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"
{{ end }}
